.list {
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
  }

  table, th, td {
    background-color: tomato;
    color: white;
    border: 2px solid whitesmoke;
    text-align: center;
  }